<div class="card animated fadeIn fast" *ngFor="let board of boards, let i = index">
    <img [src]="board.img" class="card-img-top" [alt]="board.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ board.nombre }}</h5>
        <p class="card-text">{{ board.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ board.puntuacion }}</small></p>

        <button (click)="seeBoard(i)" type="button" class="btn btn-outline-primary btn-block">See more...</button>
    </div>
</div>