<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container text-center">
        <h1 class="display-4">KiteSurf Equipment</h1>
        <p class="lead">Here you can find all kind of kitesurf boards.</p>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Types</th>
            <th scope="col">Kites</th>
            <th scope="col">Boards</th>
            <th scope="col">Wet Suits</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bow</td>
            <td>Twin-Tip</td>
            <td>Full Suit</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Hybrid</td>
            <td>Light Wind</td>
            <td>Spring Suit</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>C-Shape</td>
            <td>Wave</td>
            <td>Short Arm Steamer</td>
        </tr>
    </tbody>
</table>